#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
#cdrom
url --url=http://mirror.centos.org/centos/7/os/x86_64/
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --disable
# Accept the EULA
eula --agreed
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network --device=eth0 --bootproto=dhcp --onboot=yes --activate
network  --hostname=spacewalk.devops.com

# Root password
rootpw --iscrypted $6$7FSHEz3v614d9hF3$235r8wkVvqGbShB/.Mbpq5NLI./U2FVL2qAMDBaXL6eGbh9jwzWgYWDfY6bWIQh1W.rmZ/4CnmlvufBhgMD0D1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

# Format the partitions/mbr first 
zerombr  
clearpart --all --initlabel  

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
 
# Create primary partitions on first disk 
part /boot --fstype "xfs" --size=512 --asprimary 
part swap --fstype swap --size=4096 
 
# Create logical partitions on disk sda 
part pv.0 --size=1 --grow --ondisk=sda 
volgroup rootVG pv.0 
logvol /     --fstype xfs --name=root --vgname=rootVG --size=2560 --grow 
#logvol /tmp  --fstype xfs --name=temp --vgname=rootVG --size=256 --fsoptions="nodev,noexec,nosuid" 
#logvol /home --fstype xfs --name=home --vgname=rootVG --size=1024 --fsoptions="nodev" 
#logvol /var  --fstype xfs --name=var  --vgname=rootVG --size=1024 --fsoptions="nodev" 
#logvol /var/log --fstype xfs --name=varlog --vgname=rootVG --size=512 --fsoptions="nodev,noexec,nosuid" 
#logvol /var/log/audit --fstype xfs --name=audit --vgname=rootVG --size=256 --fsoptions="nodev,noexec,nosuid" 
 
# Create more logical partitions on disk sdb 
#part pv.1 --size=1 --grow --ondisk=sdb 
#volgroup dataVG pv.1 
#logvol /var/satellite     --fstype xfs --name=satellite --vgname=dataVG --size=2560 --grow 

%packages
@^infrastructure-server-environment
@base
@core
git
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum clean all
yum -y update
%end
reboot
