#version=RHEL8
ignoredisk --only-use=sda
#autopart --type=lvm
# Partition clearing information
# clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
#url --url="http://mirror.centos.org/centos/8/BaseOS/x86_64/kickstart"
#url --url="http://mirror.centos.org/centos/8.0.1905/BaseOS/x86_64/kickstart"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=node1.nova.io
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$xYlSNNFkqUXKlIKl$Yt0wp9axXTsHwy.sbof77GO7WRrynl/rEvJzdXjro7SZV.bMkhvuDU2t/xMyjiC0IppzklxlGDPQOTf8vhrMl.
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

# Format the partitions/mbr first 
zerombr  
clearpart --all --initlabel  

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
 
# Create primary partitions on first disk 
part /boot --fstype "xfs" --size=512 --asprimary 
part swap --fstype swap --size=4096 
 
# Create logical partitions on disk sda 
part pv.0 --size=1 --grow --ondisk=sda 
volgroup rootVG pv.0 
logvol /     --fstype xfs --name=root --vgname=rootVG --size=2560 --grow 
#logvol /tmp  --fstype xfs --name=temp --vgname=rootVG --size=256 --fsoptions="nodev,noexec,nosuid" 
#logvol /home --fstype xfs --name=home --vgname=rootVG --size=1024 --fsoptions="nodev" 
#logvol /var  --fstype xfs --name=var  --vgname=rootVG --size=1024 --fsoptions="nodev" 
#logvol /var/log --fstype xfs --name=varlog --vgname=rootVG --size=512 --fsoptions="nodev,noexec,nosuid" 
#logvol /var/log/audit --fstype xfs --name=audit --vgname=rootVG --size=256 --fsoptions="nodev,noexec,nosuid" 
 
# Create more logical partitions on disk sdb 
#part pv.1 --size=1 --grow --ondisk=sdb 
#volgroup dataVG pv.1 
#logvol /var/satellite     --fstype xfs --name=satellite --vgname=dataVG --size=2560 --grow 

%packages
@^server-product-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
mkdir -p /root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDeC8LPyr37LUpysGkvVHUV3Pgt0T+4O/TaVTDDMcIeFCRHh4zHyhDZ7Q8AZ/WJ4VxKs9DTgHDWw439qxM1zpmuugIHPVi5PUFIUOMPg6z0cK4RCixhZLL5v1taTlL5xEGKejj+HMqlOg7XOgFBsYJUuLtSMO7Cp0KKUoQp6NZpbGhGrrHp2cEWsLQVAU7dY01u1Rvcv0rFxh8HMwORrG6fgBLv6GrGq7In7scWpnxG68idR+stqJC3sZvLDLbeMBR7PsfDQaAHbrIh72FcRY7q2ITWYcT0LRJQZPOFMLdtjXwCgu2mu4onB8Orwbx4lTc/XMRcYXb3jSkRhSl+eVPl alvarm1s@C02XD2TDJG5M">>/root/.ssh/authorized_keys
echo "proxy=http://160.62.237.218:2011">>/etc/yum.conf
yum clean all
yum -y update
%end
reboot
